<a href="https://colab.research.google.com/github/somonik/hello-world/blob/master/ZeroToHero.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print('Hello World')

Hello World

In [2]:
mystring = 'abcdefg'

In [3]:
mystring[::]

'abcdefg'

In [4]:
mystring[:3]

'abc'

In [5]:
mystring[:4]

'abcd'

In [6]:
mystring

'abcdefg'

In [7]:
mystring[2]

'c'

In [8]:
mystring[:1]

'a'

In [9]:
mystring2 = ['ha', 'ba', 'chu', 'va']

In [10]:
mystring2[::]

['ha', 'ba', 'chu', 'va']

In [11]:
mystring2[2]

'chu'

In [12]:
a, b, c = 'fruit', 'animal', 'city'

In [13]:
print(a,b,c)

fruit animal city

In [14]:
print(a)

fruit

In [15]:
fruits = ['apple', 'banana', 'strawberry', 'lemon']

In [16]:
e, f, g, h = fruits

In [17]:
print(e)

apple

In [18]:
print(len(fruits))

4

In [19]:
fruits.append('cherry')

In [20]:
print(fruits)

['apple', 'banana', 'strawberry', 'lemon', 'cherry']

In [21]:
print('fruits')

fruits

In [22]:
print(e)

apple

In [23]:
print(fruits)

['apple', 'banana', 'strawberry', 'lemon', 'cherry']

In [24]:
i = fruits[-1]

In [25]:
print(i)

cherry

In [26]:
print(len(fruits))

5

In [27]:
def myfun():
  global x
  x = 'haryvon'
  print(x)

In [28]:
x = 'animals'

In [29]:
print(x)

animals

In [30]:
myfun()

haryvon

In [31]:
import random

In [32]:
for i in range(0, 5, 1):
  print(i)

0
1
2
3
4

In [33]:
print(random.randrange(1,100))

45

In [34]:
x = int(input("x: "))
y = int(input("y: "))

if x > y:
    print("x is larger than y")
elif x < y:
    print("y is larger than x")
else:
    print("x and y are equal")

KeyboardInterrupt: ignored

In [ ]:
def main():
  for i in range(3):
    meow()


def meow():
  print('meow')

main()

In [ ]:
def main():
    meow(2)


def meow(n):
  for i in range(n):  
    print('meow')

main()

In [ ]:
#score = [57, 60, 70]

#average = sum(score) / len(score)

#print(f"the average score is {average} ")

In [ ]:
scores = []

for i in range(3):
  scores.append(int(input('Scores: ')))

average = sum(scores) / len(scores)

print(f"the average score is {average} ")

In [ ]:
row_1 = ['Facebook', 0.0, 'USD', 2974676, 3.5]
row_2 = ['Instagram', 0.0, 'USD', 2161558, 4.5]
row_3 = ['Clash of Clans', 0.0, 'USD', 2130805, 4.5]
row_4 = ['Temple Run', 0.0, 'USD', 1724546, 4.5]
row_5 = ['Pandora - Music & Radio', 0.0, 'USD', 1126879, 4.0]

fb_rating_data = [row_1[0], row_1[3], row_1[4]]
isnta_rating_data = [row_2[0], row_2[3], row_2[4]]
pandora_rating_data = [row_5[0], row_5[3], row_5[4]]

avg_rating = (fb_rating_data[2] + isnta_rating_data[2] + pandora_rating_data[2]) / 3

#average = total / 3

print(avg_rating)

#avg_rating = fb_rating_data[2] + insta_rating_data[2] + pandora_rating_data[2]

In [ ]:
row_1 = ['Facebook', 0.0, 'USD', 2974676, 3.5]
row_2 = ['Instagram', 0.0, 'USD', 2161558, 4.5]
row_3 = ['Clash of Clans', 0.0, 'USD', 2130805, 4.5]
row_4 = ['Temple Run', 0.0, 'USD', 1724546, 4.5]
row_5 = ['Pandora - Music & Radio', 0.0, 'USD', 1126879, 4.0]

dataset = [row_1, row_2, row_3, row_4, row_5]

total = dataset[0][-1] + dataset[1][-1]

print(total)

In [ ]:
row_1 = ['Facebook', 0.0, 'USD', 2974676, 3.5]
row_2 = ['Instagram', 0.0, 'USD', 2161558, 4.5]
row_3 = ['Clash of Clans', 0.0, 'USD', 2130805, 4.5]
row_4 = ['Temple Run', 0.0, 'USD', 1724546, 4.5]
row_5 = ['Pandora - Music & Radio', 0.0, 'USD', 1126879, 4.0]

#version1
app_data_set = [row_1, row_2, row_3, row_4, row_5]

avg_rating = (app_data_set[0][-1] + app_data_set[1][-1] + app_data_set[2][-1] + app_data_set[3][-1] + app_data_set[4][-1]) / 5

print(avg_rating)

#version2

add = []
for eachrow in app_data_set:
  rating = eachrow[-1]
  add.append(rating)
  print(sum(add) / 5)
print(sum(add) / 5)

#version3

add = 0
for eachrow in app_data_set:
  rating = eachrow[-1]
  add += rating
  average_rating = add / 5
  print(average_rating)
print(average_rating)

In [37]:
%%writefile newfile.txt
This is my first file
this is second line in my file
this is the third line

Writing newfile.txt

In [38]:
myfile = open('newfile.txt')

In [ ]:
pwd

In [ ]:
ls

In [39]:
myfile.read()

'This is my first file\nthis is second line in my file\nthis is the third line'

In [40]:
myfile.read()

''

In [41]:
myfile.seek(0)

0

In [42]:
contents = myfile.read()

In [43]:
contents

'This is my first file\nthis is second line in my file\nthis is the third line'

In [44]:
myfile.readlines()

[]

In [45]:
myfile.close()

In [46]:
with open('newfile.txt') as newnewfile:
  contents = newnewfile.read()

In [47]:
contents

'This is my first file\nthis is second line in my file\nthis is the third line'

In [48]:
type(contents)

str

In [49]:
type(newnewfile)

_io.TextIOWrapper

In [52]:
%%writefile brandnewfile.txt
no battery
two battery
charge the batter

Writing brandnewfile.txt

In [53]:
onetext = open('brandnewfile.txt')

In [54]:
contents2 = onetext

In [65]:
contents2.readlines()

['no battery\n', 'two battery\n', 'charge the batter']

In [73]:
onetext.seek(0)

0

In [77]:
onetext.readlines()

['no battery\n', 'two battery\n', 'charge the batter']

In [70]:
with open('onetext', mode='a') as c:
  c.write('This is fourth line')

In [78]:
with open('onetext', mode='r') as c:
  print(c.readlines())

['This is fourth line']

In [83]:
#Comparing Operators

2 ** 2 != 4

False

In [84]:
2 ** 0.5 == 5

False

In [85]:
#List unpacking. you store tuples in your list and retrieve the part you need to print out first. cool shit
list = [(1,2), (3,4), (5,6), (7,8), (9,10)]

In [86]:
for a, b in list:
  print(a)

1
3
5
7
9

In [165]:
d = {'36': 'D', '35': '8'}

In [166]:
for key,value in d.items():
  print(key,value)

36 D
35 8

In [133]:
len(d)

2

In [185]:
#time to spend some time on while loops
#Break, continue and pass
#Break: Breaks out of the current closest inclosing loop
#Continue: Goes to the top of the closest inclosing loop
#Pass: Does nothing at all

In [183]:
x = 0

while x < 5:
  x += 1
  print('This is great')
else:
  print('time to break shit')

This is great
This is great
This is great
This is great
This is great
time to break shit

In [4]:
#Pass. Since pass does nothing, sometimes programmers pass the for loop as a place holder for something for a different time

y = [1, 2, 3]

for p in y:
  #comment
  pass

In [7]:
#Break

#When the condition for our if condition is met we are asking python to break the loop and stop the iteration

x = [1,2, 3, 4, 5]

for l in x:
  if l == 3:
    break
  print(l)

1
2

In [7]:
name = input('What is your name?')

#regular with concatenation
print('Hello ' + '' + name.title())
#with format
print('Hello {}'.format(name.title()))
#with f string
print(f'Hello {name.title()}')

What is your name?somi
Hello Somi
Hello Somi
Hello Somi

In [9]:
mynum = 0

for letters in 'abcdefg':
  print('Here are numbers {} for each letter {}'.format(mynum, letters))
  mynum += 1

Here are numbers 0 for each letter a
Here are numbers 1 for each letter b
Here are numbers 2 for each letter c
Here are numbers 3 for each letter d
Here are numbers 4 for each letter e
Here are numbers 5 for each letter f
Here are numbers 6 for each letter g

In [10]:
#enumerate python function is pretty fucking cool
letters = 'abcdefghijklnmop'

for item in enumerate(letters):
  print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')
(5, 'f')
(6, 'g')
(7, 'h')
(8, 'i')
(9, 'j')
(10, 'k')
(11, 'l')
(12, 'n')
(13, 'm')
(14, 'o')
(15, 'p')

In [11]:
#zip function that adds two lists into one like your jacker zipper brah
myzip1 = [1, 2, 3]
myzip2 = ['a', 'b', 'c']

zip(myzip1, myzip2)

In [12]:
for item in zip(myzip1, myzip2):
  print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [32]:
#in operator

mylist = [1,2,3,4,5,6,7,8,9,10]

4 in mylist

#shuffle your numbers
from random import shuffle

shuffle(mylist)

mylist

#randint returns random numbers from the enclosed range - pretty cool
from random import randint

randint(1, 100)

79

In [45]:
#list comprehension. writing your for loop in one liner

my_list = []

for item in range(10):
  my_list.append(item)

print(my_list)

#converting above to list comprehension now

my_list2 = [item for item in range(10)]

my_list2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [1]:
st = 'Print the words that start with s only and print them outs'

x = st.split()

for word in x:
  if word.startswith('s'):
    print(word)

print(x)

start
s
['Print', 'the', 'words', 'that', 'start', 'with', 's', 'only', 'and', 'print', 'them', 'outs']

In [25]:
#use range to print all even numbers from 0 to 10

num = []

for n in range(0,11,2):
  num.append(n)

print(num)

[0, 2, 4, 6, 8, 10]

In [35]:
#using list comprehension to write the code
lnum = [l for l in range(1,51) if l%3==0]

#old fashioned
# for l in range(1,51):
#   if l%3==0:
#     lnum.append(l)
print(lnum)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [69]:
#print even if the lenght of the word is even

st ='Print,every,word,in,this,sentence,that,has,an,even,number,of,letters'

words = st.split(',')
print(words)
for word in words:
  if len(word)%2==0:
    print(word)

['Print', 'every', 'word', 'in', 'this', 'sentence', 'that', 'has', 'an', 'even', 'number', 'of', 'letters']
word
in
this
sentence
that
an
even
number
of

In [1]:
for crazy_num in range(1, 101):
  if crazy_num % 3 == 0 or crazy_num % 5 == 0:
    print('FizzBuzz')
  elif crazy_num % 3 == 0:
    print('FIzz')
  elif crazy_num % 5 == 0:
    print('Buzz')
  else:
    print(crazy_num)

1
2
FizzBuzz
4
FizzBuzz
FizzBuzz
7
8
FizzBuzz
FizzBuzz
11
FizzBuzz
13
14
FizzBuzz
16
17
FizzBuzz
19
FizzBuzz
FizzBuzz
22
23
FizzBuzz
FizzBuzz
26
FizzBuzz
28
29
FizzBuzz
31
32
FizzBuzz
34
FizzBuzz
FizzBuzz
37
38
FizzBuzz
FizzBuzz
41
FizzBuzz
43
44
FizzBuzz
46
47
FizzBuzz
49
FizzBuzz
FizzBuzz
52
53
FizzBuzz
FizzBuzz
56
FizzBuzz
58
59
FizzBuzz
61
62
FizzBuzz
64
FizzBuzz
FizzBuzz
67
68
FizzBuzz
FizzBuzz
71
FizzBuzz
73
74
FizzBuzz
76
77
FizzBuzz
79
FizzBuzz
FizzBuzz
82
83
FizzBuzz
FizzBuzz
86
FizzBuzz
88
89
FizzBuzz
91
92
FizzBuzz
94
FizzBuzz
FizzBuzz
97
98
FizzBuzz
FizzBuzz

In [89]:
#print out the first letter of every word in the string as a list comprehension

st = ('Create a list of the first letters of every word in this string')

words_split = st.split(' ')

print(words_split)

for fl in words_split:
  print(fl[0])

#now as a list comprehension

pl = [x[0] for x in words_split]

print(pl)

['Create', 'a', 'list', 'of', 'the', 'first', 'letters', 'of', 'every', 'word', 'in', 'this', 'string']
C
a
l
o
t
f
l
o
e
w
i
t
s
['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']

In [5]:
#working with function

def say_hello():
  print('Hello')
  print('this is cool')

say_hello()

Hello
this is cool

In [11]:
def say_hello(name = 'Default'):
  print(f'Hello {name}')

say_hello()

Hello Default

In [28]:
#creating a function for even numbers

# This is returning true or false if the passed arugement inside list has an intiger
def even_num(numbers):
  for num in numbers:
    if num % 2 == 0:
      return True
    else:
      pass
  return False

even_num([4, 6, 8])

True

In [40]:
## now return all the even numbers rather than giving true or false
def even_num(numbers):
  #this is a placeholder for a even numbers
  even_numbers = []
  for num in numbers:
    if num % 2 == 0:
      even_numbers.append(num)
    else:
      pass
  return even_numbers

even_num([1,2,3,4,5,6,7,8,9])

[2, 4, 6, 8]

In [5]:
#create a fucntion that checks in tupils and returns the employee with most hours

work_hours = [('Tim', 35), ('Somoni', 40), ('Weiwei', 50)]

def employee_check(work_hours):

  current_max = 0
  employee_name = ''

  for employee, hours in work_hours:
    if hours > current_max:
      current_max = hours
      employee_name = employee
    else:
      pass
  return (employee_name, current_max)


employee_check(work_hours)

('Weiwei', 50)

In [96]:
#creating a shufflig game

from random import shuffle

mylist = [' ', '0', ' ']

shuffle(mylist)


mylist

[' ', '0', ' ']

In [100]:
def shuffled_list(mylist):
  shuffle(mylist)
  return mylist

shuffled_list(mylist)

['0', ' ', ' ']

In [118]:
mylist = [' ', '0', ' ']

shuffled_list(mylist)

['0', ' ', ' ']

In [119]:
def player_guess():

  guess = ''

  while guess not in ['0','1','2']:
    guess = input('Please pick a number from 0, 1, 2 \n')

  return int(guess)

player_guess()

Please pick a number from 0, 1, 2
1

1

In [112]:
def check_guess(mylist,guess):
  if mylist[guess] == '0':
    print('Correct')
  else:
    print('Wrong, pick a new number... ')

  return mylist

In [129]:
#Initial list

mylist = [' ', '0', ' ']

#shuffle list

mixedup_list = shuffled_list(mylist)

#player guess

guess = player_guess()


#check the guess

check_guess(mixedup_list,guess)

Please pick a number from 0, 1, 2
0
Correct

['0', ' ', ' ']

In [7]:
#*args and *kwargs

#with *args you can pass as many key words as you want as opposed to specifically specifying the keys

def my_func(*args):
  return sum(args) * 0.05
  

my_func(20,40,60,80,10,120,140)

23.5

In [8]:
#*args are treated as tuples

def my_func(*args):
  return args

my_func(10,20,30)

(10, 20, 30)

In [29]:
#**kwargs are also arbitrary arugment where as opposed -- *args = tupils --, it accepts dictionary. 


def my_func(**kwargs):
  if 'fruit' and 'veggie' in kwargs:
    print('There is a yummy fruit {} and veggie {} that I love and '.format(kwargs['fruit'], kwargs['veggie']))
  else:
    print('No yummy fruit that I love')

In [30]:
my_func(fruit='banana', veggie='brokoli')

There is a yummy fruit banana and veggie brokoli that I love and

In [31]:
#a fucntion can also receive both *args and **kwargs

def my_func(*args, **kwargs):
  print(args,kwargs)

In [34]:
my_func(1,2,3,4,5,6, fruits='banana', veggie = 'brokoli')

(1, 2, 3, 4, 5, 6) {'fruits': 'banana', 'veggie': 'brokoli'}

In [62]:
def myfunc(*args):
  even_num = []
  for num in args:
    if num % 2 == 0:
      even_num.append(num)
  return(even_num)

In [63]:
myfunc(1,2,3,4,5,6)

[2, 4, 6]

In [38]:
def myfunc(string):
  mylist = ''

  i = True #capitalize it

  for num in string:
    if i:
      mylist +=num.upper()
    else:
      mylist +=num.lower()

    i = not i

  return mylist

In [40]:
myfunc('zoirajon')

'ZoIrAjOn'

In [40]:
#given any string inside a fuction, make first and every other letter capital

def myfunc(string):
  letters = ''
  for i in range(len(string)):
   if i % 2 == 0:
     letters += string[i].upper()
   else:
     letters += string[i].lower()
  return letters

In [41]:
myfunc('zoira')

'ZoIrA'

In [93]:
park1 = ['bmw', 'audi', 'tesla', 'honda']

park2 = ['mercedes', 'suzuki', 'bmw', 'ford']

park3 = ['ford', 'chevrolet', 'audi', 'cybertruck']

lot = [park1, park2, park3]

#bmw_cars = []

#park2.index('bmw')

In [11]:
#returns lesser or even numbers and larger of odds
def myfunc(a,b):
  if a % 2 == 0 and a > b:
    return b
  elif b % 2 == 0 and b > a:
    return a
  elif a % 2 != 0 and b % 2 != 0 and a > b:
    return a
  else:
    return b
    
#verion 2 - better

def myfunc(a,b):
  if a % 2 == 0 and b % 2 == 0:
    return min(a, b)
  else:
    return max(a, b)

In [36]:
myfunc(3,10)

3

In [9]:
#return True if given words start with the same letter

def myfunc(a,b):
  if a[0] == b[0]:
    return True
  else:
    return False
  #print(letter_a, letter_b)

In [10]:
myfunc('weiwei', 'somonijon')

False

In [46]:
myfunc(4,10)

4

In [34]:
#MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 
#or if one of the integers is 20. If not, return False

def myfunc(n1,n2):
  if (n1+n2) == 20 or n1 == 20 or n2 == 20:
    return True
  else:
    return False

#second version -- coreccted

def animal_crackers(text):
    wordlist = text.split()
    return wordlist[0][0] == wordlist[1][0]

In [ ]:
myfunc(10,10)

In [30]:
# def macdonald(word):
#   letters = list(word)

#   for i in range(len(word)):
#     if i == 0:
#       letters[i] = letters[i].upper()
#     elif i == 3:
#       letters[i] = letters[i].upper()
#   return ''.join(letters)


#version 2. I guess this one is easier version

def old_macdonald(name):
    if len(name) > 3:
        return name[:3].capitalize() + name[3:].capitalize()
    else:
        return 'Name is too short!'

In [31]:
old_macdonald('macdonald')

'MacDonald'

In [37]:
#MASTER YODA: Given a sentence, return a sentence with the words reversed

# def myfunc(sentence):
#   split_words = sentence.split(' ') [::-1]
#   joined = ' '.join(split_words)
#   return joined

#version 2 -- both are good

def master_yoda(text):
    return ' '.join(text.split()[::-1])

In [39]:
master_yoda('I am home')

'home am I'

In [66]:
#ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

# def almost_there(n):
#   if n in range(90, 110) or n in range(190,210):
#     return True
#   else:
#     return False

#version 2 -- interesting solution

def almost_there(n):
    return ((abs(100 - n) <= 10) or (abs(200 - n) <= 10))

In [68]:
almost_there(210)

True

In [152]:
#Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

# I was not able to solve this!

def has_33(nums):
    for i in range(0, len(nums)-1):
      
        # nicer looking alternative in commented code
        if nums[i] == 3 and nums[i+1] == 3:
    
        # if nums[i:i+2] == [3,3]:
            return True
        print(nums)  
    
    return False

In [154]:
has_33([4,5,6,7,3,3])

[4, 5, 6, 7, 3, 3]
[4, 5, 6, 7, 3, 3]
[4, 5, 6, 7, 3, 3]
[4, 5, 6, 7, 3, 3]

True

In [146]:
#PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
#my version that works
def paper_doll(text):
  ls = list(text)
  holder = []
  for i in ls:
    holder.append(i*3)
  return ''.join(holder)

#version 2 

# def paper_doll(text):
#     result = ''
#     for char in text:
#         result += char * 3
#     return result

In [145]:
paper_doll('my wife is the best')

'mmmyyy   wwwiiifffeee   iiisss   ttthhheee   bbbeeesssttt'

In [3]:
#BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. 
#If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. 
#Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'

#my version
def blackjack(a,b,c):
  sum_num = (a+b+c)
  if a+b+c <= 21:
    return sum_num
  elif sum_num > 21 and a == 11 or b == 11 or c ==11:
    return sum_num -10
  else:
    return 'Bust'

#textbook solution


# def blackjack(a,b,c):
    
#     if sum((a,b,c)) <= 21:
#         return sum((a,b,c))
#     elif sum((a,b,c)) <=31 and 11 in (a,b,c):
#         return sum((a,b,c)) - 10
#     else:
#         return 'BUST'

In [8]:
blackjack(9,9,11)

19

In [1]:
#SUMMER OF '69: Return the sum of the numbers in the array, 
#except ignore sections of numbers starting with a 6 and extending to the next 9 
#(every 6 will be followed by at least one 9). Return 0 for no numbers.¶

def summer_69(arr):
    total = 0
    add = True
    for num in arr:
        while add:
            if num != 6:
                total += num
                break
            else:
                add = False
        while not add:
            if num != 9:
                break
            else:
                add = True
                break
    return total

In [2]:
summer_69([1,2,6,3,4,7,8,9,4,4])

11

In [14]:
#this will only elminate the given numers
def summer_69(arr):
  total = 0
  for num in arr:
    if num != 6 and num != 9:
      total += num
  return total

In [15]:
summer_69([1,2,6,3,4,7,9])

17

In [53]:
#Lambda expressions. Map and Filter Functions

#Map fucntion will help you iterate through the list much faster
def names(text):
  if len(text)%2 == 0:
      return 'Even'
  else:
    return text[0]

name = ['Bob', 'Weiwei', 'Zarina', 'Somoni']

list(map(names, name))

['B', 'Even', 'Even', 'Even']

In [58]:
#Filter works similarly, but it looks for True or False statement in your functions

def return_even(nums):
  return nums%2 == 0

mylist = [1,2,3,4,5,6,7,8,9,10]
#it returned all even numbers becuase the function was created was true
# list(filter(return_even,mylist))

for n in filter(return_even,mylist):
  print(n)

2
4
6
8
10

In [73]:
#lambda is very helpful to create a fucntion into a lambda expression so it take easily used in your map and filter functions

#let's use with map example above:

# def names(text):
#   return text**2

#lambda text: text**2
mylist = [1,2,3,4,5,6,7,8,9,10]
list(map(lambda text: text**2, mylist))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [2]:
def ran_check(num,low,high):
  return num in range(low,high)

In [3]:
ran_check(5,2,4)

False

In [26]:
def up_low(s):
  list(s)
  upper_case = 0
  lower_case = 0
  for i in s:
    if i.isupper():
      upper_case += 1
    elif i.islower():
      lower_case += 1

  print(f'No. of Upper case characters : {len(upper_case)} and No. of Lower case Characters : {len(lower_case)}')

In [27]:
up_low('Hello Mr. Rogers, how are you this fine Tuesday?')

No. of Upper case characters : 4 and No. of Lower case Characters : 33

In [28]:
def unique_list(lst):
  return set(lst)

In [30]:
unique_list([1,1,1,1,2,2,3,3,3,3,4,5])

{1, 2, 3, 4, 5}

In [62]:
def multiply(numbers):
  add = 1
  for num in numbers:
    add *= num
  return add

In [63]:
multiply([1,2,3,-4])

-24

In [94]:
def palindrome(s):
  x = s.replace(' ', '')
  if x[::-1] == x:
    return True
  else:
    return False

In [99]:
palindrome('racecar')

True

In [ ]:
 import string

def ispangram(str1, alphabet=string.ascii_lowercase):

In [15]:
user_word = 'aloha there good friend'

alohatheregoodfriend
20

In [3]:
#this is to find the frequencies of the letters from the phraze or work and add to dictionary
user_input = input('write a phraze or word: ')

count_letters = {}

for i in user_input:
  if i in count_letters:
    count_letters[i] += 1
  else:
    count_letters[i] = 1

max_value = max(count_letters, key=count_letters.get)

print(count_letters)

print()

print(max_value)

write a phraze or word: thi is a test
{'t': 3, 'h': 1, 'i': 2, ' ': 3, 's': 2, 'a': 1, 'e': 1}

t

In [1]:
addition = {}

letter_input = input("Give me different letters? ") 


for i in letter_input:
  if i in addition:
    addition[i] += 1
  else:
    addition[i] = 1
print(addition)

Give me different letters? OOP
{'O': 2, 'P': 1}

In [1]:
#OOP -- or Object Oriented Programmin. Very useful when a lot of code is being written...
# as you are not going to have a cluster of too many functions but you classify them instead for neatness

#Basic syntax:
#class ClassName():
#   def __init__(self,param1,param2): --> this is called method as opposed to function
#         self.param1 = param1
#         self.param2 = param2

#   def MethodName(a,b):
#       return this or that

#Methods are like functions defined inside the Class

#CLass object attribute -- is an attribute that is essentially global in that class so by declaring earlier you can use it more freely

In [1]:
class LaFamilia():
  def __init__(self, dadajon, ochajon):
    self.dadajon = dadajon
    self.ochajon = ochajon

In [2]:
myLaFamilia = LaFamilia(dadajon='Qurbonali', ochajon='Gulnor')

In [3]:
type(myLaFamilia)

__main__.LaFamilia

In [4]:
myLaFamilia.dadajon

'Qurbonali'

In [82]:
class Circle():

  #Class object Attribute:
  pi = 3.14

  def __init__(self,radius=1):

    self.radius = radius
    #self.area = radius*radius*self.pi
    #or also can put as
    self.area = radius*radius*Circle.pi

    #Create a new method for circumference
  def get_cercumference(self):
    return self.radius * self.pi * 2

In [83]:
my_circle = Circle(40)

In [84]:
my_circle.radius

40

In [2]:
#OOP Inheritance and Polymorphysm

class Animal():
  def __init__(self):
    print('Animal created')

  def who_am_i(self):
    print('I am an Animal')

  def eat(self):
    print('I am eating')

In [3]:
my_animal = Animal()

Animal created

In [4]:
class Dog(Animal):
  def __init__(self):
    Animal.__init__(self)
    print('Dog is created')
  
  def who_am_i(self):
    print('I am a Dog')

In [5]:
mydog = Dog()

Animal created
Dog is created

In [7]:
mydog.eat()

I am eating

In [32]:
my_animal.who_am_i()

I am an Animal

In [33]:
#Polymorphism

In [1]:
class Dog():

  def __init__(self,name):
    self.name = name

  def speak(self):
    return self.name + ' says woof!'

In [18]:
# Object Oriented Programming. Special Methods.(Magic/Dunder)

class Book():
  def __init__(self, title, author, pages):
    self.title = title
    self.author = author
    self.pages = pages

  #if I want my object to return the string than I have to create a new special method like below
  def __str__(self):
    return f'{self.title} by {self.author}'

  #another special method i want to return the lengh of the page
  def __len__(self):
    return self.pages
#this special method will help to delete an object

  def __del__(self):
    print('A Book object has been deleted')

In [19]:
b = Book('Tojikon','Ayni',200)

In [20]:
#print the string of the object
print(b)

str(b)
#print the lenght of the object

len(b)

Tojikon by Ayni

200

In [13]:
#you can also delete a book by 'del class name'

del b

A Book object has been deleted

In [3]:
#OOP Exercise part

class Cylinder:
    
    def __init__(self,height=1,radius=1):
        self.height = height
        self.radius = radius
        
    def volume(self):
        return 3.14 * self.radius **2 * self.height
    
    def surface_area(self):
        return 2*3.14*self.radius*self.height+2*3.14*self.radius**2

In [5]:
c = Cylinder(2,3)

In [6]:
c.volume()

56.52

In [7]:

c.surface_area()

94.2

In [1]:
class Line:
    
    def __init__(self,coor1,coor2):
        self.coor1 = coor1
        self.coor2 = coor2
    
    def distance(self):
        
        x1,y1 = self.coor1
        x2,y2 = self.coor2

        return ((x2-x1)**2 + (y2-y1)**2)**0.5
    
    def slope(self):
        
        x1,y1 = self.coor1
        x2,y2 = self.coor2

        return (y2-y1) / (x2-x1)

# New Section

# New Section

In [3]:
coordinate1 = (3,2)
coordinate2 = (8,10)

li = Line(coordinate1,coordinate2)

In [4]:
li.distance()

9.433981132056603

In [5]:
li.slope()

1.6

In [64]:
class Account:

  def __init__(self,owner, balance =0):
    self.owner = owner
    self.balance = balance
    

  def deposit(self, dpt_amt):
    self.balance = self.balance + dpt_amt
    print(f'Added {dpt_amt} to the balance')

  def withdraw(self, wt_amt):
    if self.balance >= wt_amt:
      self.balance = self.balance - wt_amt
      print('Withdrawal Accepted')
    else:
      print('Sorry not enough funds')

  def __str__(self):
    return f'Owner is {self.owner} \nBalance {self.balance}'

In [65]:
a = Account('Somoni', 500)

In [69]:
print(a)

Owner is Somoni
Balance 0

In [67]:
a.deposit(200)

Added 200 to the balance

In [70]:
a.withdraw(50)

Sorry not enough funds

In [57]:
print(a)

Owner is Somoni
Balance 700